[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
flask = "*"
boto3 = "*"
requests = "*"
selenium = "==4.10"
webdriver-manager = "*"
python-dotenv = "*"
gunicorn = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.10.6"
